
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #23063A;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #BC7AFF;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.welcome-container {
    text-align: center;
    margin-top: 20vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    text-decoration: none;
    background-color: #BC7AFF;
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff66ff;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #23063A;
    color: white;
}


.year-section {
    position: relative;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #BB129C;
    font-weight: bold;
    overflow: hidden;
}

.year-section h2 {
    position: relative;
    z-index: 1;
    margin: 0;
}


.year-2024 {
    background: #BB129C; 
    color: #1AE3DD ;
}

.year-2023 {
    background: #FF3721;
    color: #E4FF1A;
   
}

.year-2022 {
    background: #4F09FF;
    color: #FCF3E4;
    
}

.year-2021 {
    background: #E4FF1A;
    color: #FF3721;
    
}

.year-2020 {
    background: #1AE3DD;
    color:#BB129C ;
}

