# Ignore the virtual environment
.venv/
web_app/__pycache__/    # Ignore Python bytecode
spotify_wrapped/__pycache__/    # Ignore Python bytecode
# Ignore IDE configurations
.idea/

__pycache__/

.env