# Ignore virtual environment
.venv/
myenv/

# Ignore Python bytecode
web_app/__pycache__/
spotify_wrapped/__pycache__/

# Ignore IDE configurations
.idea/

# Environment variables and database files
.env
db.sqlite3
