{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Wrapped Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRbtKq5nh6cpCD_HVe09TqO7nuZEttfUk" defer></script>
    <script src="{% static 'web_app/js/map.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="profile-button">
            <i class="fas fa-user-circle"></i>
            Profile
        </div>
    </header>
    <main>
        <div class="info-container">
            <h2 class="info-heading" id="artists">your favorite artists</h2>
            <div class="chart-container">
        </div>
    </main>
</body>
</html>